# dev or prod
ENV=dev
# 项目信息
NAME=PEIP AI Hub
DESCRIPTION=PEIP algorithm capability gateway
VERSION=0.1.0
API=/api/v1


# 算法配置文件
ALGORITHMS_FILE=algorithms.yaml


# LLM 模型配置
LLM_ENDPOINT=your_endpoint
LLM_API_KEY=your_api_key
LLM_MODEL_OPUS=your_model_name
LLM_MODEL_SONNET=your_model_name
LLM_MODEL_FAST=your_model_name